.firmware-queue {
    width: 90%;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}

.firmware-queue span {
    display: block;
}
.firmware-queue-disabled {
    width: 90%;
    font-weight: bold;
    text-align: center;
    color: darkred;
}

