.left-bar {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 250px;
    min-width: 250px;
    display: flex;
    color: #363534;
    background-color: #e2e2e2;
    border-right: 2px solid slategrey;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
}

.left-bar__device-list {
    width: calc(100% - 50px);
    margin-top: 20px;
}

.left-bar__device-list-lab-item {
    margin-top: 5px;
    margin-left: 15px;
}

.left-bar__selected-item {
    font-weight: bold;
    text-decoration: underline;
}

.left-bar__administration-button {
    margin-top: 20px;
    position: fixed;
    bottom: 20px;
}

.left-bar__administration-button-link {
    display: block;
}


