.description__header {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}

.description__goal-block {
    padding: 5px;
    background-color: #e2e2e2;
    margin-top: 15px;
    width: 100%;
    display: block;
}

.description__execution-order {
    margin-top: 15px;
    width: 100%;
}

.description__execution-order-text {
    width: 100%;
    border: none;
    white-space: pre-wrap;
    resize: none;
    overflow: auto;
    background-color: #f8f8f8;
}

.description__table {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

.description__table-element {
    border: 1px solid black;
}

.center-aligned {
    text-align: center;
}

.wp-100 {
    width: 100px;
}

.pl-5 {
    padding-left: 5px;
}

.description-list:not(:last-child) {
    margin-bottom: 5px;
}


