html {
    font-size: 14px;
}

.form-element {
    margin-left: auto;
    margin-top: 15px;
    margin-right: auto;
    font-size: 24px;
    width: 90%;
    display: flex;
}

.login-block {
    display: block;
    margin-left: auto;
    margin-top: 100px;
    margin-right: auto;
    width: 600px;
}

.login-form {
    margin-top: 50px;
    width: 100%;
}

.logo-part {
    width: 100%;
    display: flex;
}

.logo-part__text-block {
    font-size: 48px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 20px;
}

.logo-violet {
    color: #28166f
}

.form-input {
    font-size: 14px;
    margin-left: auto;
    width: 60%;
}

.submit-button {
    display: block!important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: #28166f!important;
    border-color: #28166f!important;
    /*width: 200px;*/
    /*height: 50px;*/
    /*border: 0;*/
    /*color: #ffffff;*/
    /*font-size: 20px;*/
    /*border-radius: 10px;*/
}

.submit-button:visited {
    color: #28166f!important;
    border-color: #28166f!important;
    box-shadow: 0 0 0 .2rem #4B34A3FF!important;
}

.submit-button:focus {
    background-color: #28166f!important;
    color: white!important;
    box-shadow: 0 0 0 .2rem #4B34A3FF!important;
}

.submit-button:hover {
    background-color: #28166f !important;
    color: white !important;
}


/*.submit-button:active {*/
/*    color: #28166f!important;*/
/*    border-color: #28166f!important;*/
/*    box-shadow: 0 0 0 .2rem #4B34A3FF!important;*/
/*}*/

.logo-error-text {
    padding: 20px;
    text-align: center;
    color: red;
    font-size: 20px;
}

