html {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 14px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #f8f8f8;
  margin:0;
  padding:0;
  width: 100%;
  min-height: 100%;
}

.react-container {
  width: 100%;
  height: 100%;
  display: block;
}

.application {
  width: 100%;
  height: 100%;
  display: block;
}

.device-page {
  width: 100%;
  display: flex;
}

.half-screen {
  margin: 15px;
  width: calc(100% / 2 - 30px);
  height: calc(100% - 30px);
}

.header {
  border-bottom: 1px solid #484343;
  margin: 0;
  width: 100%;
  height: 75px;
  background: #28166f;
  color: azure;
  display: flex;
  align-items: center;
}

.header__button {
  background-color: #28166f;
  color: azure;
  border: none;
  max-height: 75px;
  height: 75px;
  display: inline-block;
}

.header__link:visited {
  color: azure;
}

.header__link:hover {
  color: azure;
}

.header__logo {
  margin-left: 10px;
  max-width: 95%;
  max-height: 95%;
  display: block;
}

.header__logo:hover {
  cursor: pointer;
}

.header__logo-link {
  margin-left: 10px;
  max-height: 100%;
  display: block;
}

.header__main-text  {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.header__tooltip {
  background-color: azure;
  margin: 10px;
  padding: 5px;
}

.header__user-name-text {
  font-size: 16px;
}

.image {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.header__right_content {
  margin-left: auto;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.log-area {
  width: 100%;
  margin-top: 20px;
}

.main-section {
  width: 100%;
  height: 95%;
  display: flex;
}

.m-10 {
  margin: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.mt-0 {
  margin-top: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mb-0 {
  margin-bottom: 0;
}

.left-bar {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 15%;
  min-width: 250px;
  display: flex;
  color: #363534;
  background-color: #e2e2e2;
  border-right: 2px solid slategrey;
  flex-direction: column;
  min-height: 100vh;
  overflow: auto;
}

.pt-0 {
  padding-top: 0;
}

.task-list {
  width: calc(100% - 50px);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 20px;
}

.video-player-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.video-player {
  width: 100%;
  height: auto;
  background-size: 100%;
  display: block;
}

.upload-button {
  border-radius: 10px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background:#5cb85c;
  color:#fff!important;
  width: 250px;
  height: 40px;
  border-width: 0;
  display: block;
  font-size: 16px;
  font-weight: bold;
}

.multiple-size {
  font-size: 1.5em;
}

.w-100 {
  width: 100%;
}

.underlined {
  text-decoration: underline;
}








